*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* START NAV */
nav h2 {
    color: #ff6e14;
}
nav .addAnnonce{
    width: 250px;
    background: #ff6e14;
    border-radius: 10px;
}
nav .addAnnonce:active{
    border: 1px rgb(199, 199, 199) solid;
    color: white;
}
nav .addAnnonce:visited{

    color: white;
}
nav .addAnnonce a{
    color: white;
}
nav .addAnnonce a:hover{
    color: white;
}

.logoAccount{
    width: 30px;
}
/* END NAV */

/* START CARD */
.card{
    width: 300px;
    max-height: 100%;
}
.card a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.card p{
    text-decoration: none;
}
.card .descCard{
    height: 100px;
    overflow:scroll;
}
/* END CARD */
::-webkit-scrollbar{
    display: none;
}